*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: calc(1rem + 0.7vw);
    font-weight: 400;
}


h1, h2 {
    font-weight: 800;
    letter-spacing: 0.05em;
}

h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: 0.04em;
}

h2 {
    padding-top: 1.5rem;
}

.section{
    margin-bottom: 1.5rem
}

.langChange{
    font-size: medium;
    color: grey
}

.logo{
    display: flex;
    justify-content: center;
    align-items:center
}

a:link {
    font-weight: 500;
    color: #3b4351;
}

a:visited {
  color:#292E38 ; /* revoir */
}

a:hover a:focus {
  color:#292E38 ; /* revoir */
}

a:active {
    color: #626873 ; /* revoir */
}

.dark a:link {
    font-weight: 500;
    color: white;
}

.dark a:visited {
  color:#626873 ; /* revoir */
}

.dark a:hover a:focus {
  color:#626873 ; /* revoir */
}


#nav-logo {
    content: url(/style/img/ouvroir-logo-site.svg);
    width: 100%;
    fill: #292E38;
}

.change-my-color {fill: #292E38;}