body {
    font-family: 'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 100%;
    
    margin: 0
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: bold;
}


h2 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.section{
    border-bottom: solid 1px lightgrey; /* learn to define colors*/
    margin-bottom: 1.5rem
}

.langChange{
    font-size: medium;
    color: grey
}