body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    
    margin: 0
}
.section{
    border-bottom: solid 1px grey;
    margin-bottom: 1.5rem
}

h2 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}