---
// src/pages/posts/[slug].astro
// Tell Astro what pages to build for your route "/pages/:slug"

export async function getStaticPaths() {
  let projects = Astro.fetchContent('./*.md');

  return projects.map(p => ({params: { slug: p.slug } }) )

}
---
<html>
  <head><title>My Page</title></head>
  <body>URL Param is {Astro.request.params.slug}</body>
</html>