<footer>
    <p>This is a footer.</p>
</footer>

<!--
├─ Footer
    ├─ tagline
    ├─ Liens et médias sociaux: Twitter, Github, Zotero, Hypothesis
    └─  RSS
-->



<style>
footer {
    text-align: center;
}
</style>