---
import {
    getLanguageFromURL,
    mapGenericToText
} from '/src/data/languages.ts';

const currentPath = Astro.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);
---
<footer class="container grid-xl" class="toast">
    
    <div id="tagline">
        <p><i>Ouvroir</i>. {mapGenericToText["TAGLINE"][lang]} | 2022</p>
    </div>
    <div id="ext-links">
        <a rel="noopener noreferrer nofollow" target="_blank" href="https://github.com/ouvroir">Github</a>
        <a rel="noopener noreferrer nofollow" target="_blank" href="https://hypothes.is/groups/pM5dq7b4/ouvroir">Hypothesis</a>
        <a rel="noopener noreferrer nofollow" target="_blank" href="https://twitter.com/labouvroir">Twitter</a>
        <a rel="noopener noreferrer nofollow" target="_blank" href="https://www.zotero.org/groups/2480242/ouvroir">Zotero</a>
    </div>
</footer>

<!--
├─ Footer
    ├─ tagline
    ├─ Liens et médias sociaux: Twitter, Github, Zotero, Hypothesis
    └─ RSS
-->



<style>
footer {
    margin-top: 1rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-top: 1px solid #292E38;
}
#tagline{
    font-size: large;
}
#ext-links{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
}
</style>