<header>
    <nav class="navbar">
        <section class="navbar-section">
            <a class="nav-item" href="/">
                <img id="navlogo" src="/style/img/ouvroir.png">
                <span>Ouvroir</span>
            </a>
        </section>
        <section class="navbar-section">
            <a class="nav-item" href="/services">
                <span>Services</span>
            </a>

            <a class="nav-item" href="/projets">
                <span>Projets</span>
            </a>

            <a class="nav-item" href="/actualites">
                <span>Actualité</span>
            </a>

            <a class="nav-item" href="/info">
                <span>i</span>
            </a>
        </section>
    </nav>
</header>

<style>
    header {
        height: 4rem;
        padding-top: 1rem;   
        padding-bottom: 1rem;   

    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .nav-item {
        display: flex;
        flex-grow: 0;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        /*à définir color: var(--theme-text-lighter)*/
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .nav-item:hover {
       /*à définir color: var(--theme-accent); */
       color: red
    }
    
    #navlogo {
        width: 2rem;
        height: 2rem;
    }
</style>