<div class="columns">  <!-- to make responsive with grid-xs to have logo beneath in xs view? -->
    <div class="column col-2 col-sm-3 col-mx-auto logo">
      <img src='/style/img/UdeM/Logo_UdeM-RVB.png' width="100%"/>
    </div>
    <div class="column col-2 col-sm-3 col-mx-auto logo">
      <img src='/style/img/CFI/fr/CFI_RGB-FR.png' width="100%"/>
    </div>
    <div class="column col-2 col-sm-37 col-mx-auto logo">
      <img src='/style/img/qc/svg/QUEBEC_couleur.svg' width="100%"/>
    </div>
</div>  