---
export async function getStaticPaths() {
        let posts = Astro.fetchContent('./*.md');

        return posts.map(p => ({params: { slug:p.slug } }) )

}
---
<html>
  <head><title>My Page</title></head>
  <body>URL Param is {Astro.request.params.slug}</body>
</html>